@font-face {
    font-family: 'Druk';
    src: url('/static/fonts/DrukTextWideCyTT-Heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ledger';
    src: url('/static/fonts/Ledger-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/* ФОН */
body {
    margin: 0;
    padding: 0;
    background: #322C55;
    font-family: 'Druk', sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.35s ease;
}

/* КОНТЕЙНЕР */
.container {
    text-align: center;
}

/* ЗАГОЛОВОК (DRUK) */
.text-block .line {
    font-family: 'Druk'; /* твой Duke */
    font-size: 64px;
    margin-bottom: 20px;
    line-height: 1.1;
    color: white; /* чисто белый */
}

/* ЗАПЯТЫЕ */
.comma {
    font-family: 'Druk';
    font-size: 80px;
    cursor: pointer;
    transition: color 0.25s ease;
}

#comma-left:hover {
    color: #B4B4B4; /* тёмный */
}

#comma-right:hover {
    color: #9CF4EE; /* твой голубой */
}

/* НИЖНЯЯ НАДПИСЬ (серый Ledger) */
.subtitle {
    font-family: 'Ledger';
    font-size: 36px;
    line-height: 1.4;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.55);  /* красивый полупрозрачный серый */
}


.footnote {
    position: fixed;
    bottom: 20px;
    left: 24px;
    width: 360px;

    font-family: "Ledger", serif;   /* твой серый текст */
    font-size: 14px;
    line-height: 1.45;
    color: rgba(255, 255, 255, 0.55);  /* мягкий серый */

    z-index: 1000;
    pointer-events: none; /* чтобы не мешать кликам по карте */

    backdrop-filter: blur(2px);       /* лёгкое смягчение фона */
}

.footnote-right {
    position: fixed;
    bottom: 20px;
    right: 60px;
    width: 360px;

    font-family: "Ledger", serif;
    font-size: 14px;
    line-height: 1.45;
    color: rgba(255, 255, 255, 0.55);
    text-align: right;

    z-index: 1000;
    pointer-events: none;
    backdrop-filter: blur(2px);
}

.footnote-right a {
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    pointer-events: all;
}

.footnote-right a:hover {
    text-decoration: underline;
}

.comma {
    display: inline-block;
    font-family: 'Druk';
    font-size: 80px;
    cursor: pointer;
    transition: color 0.25s ease;
    animation: pulse 1.8s infinite ease-in-out;
}

/* Пульсация */
@keyframes pulse {
    0%   { transform: scale(1); opacity: 1; }
    50%  { transform: scale(1.28); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}