<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/script.js"></script>
    <title>Запятая</title>
</head>

<body>
<div class="container">

    <div class="text-block">
        <div class="line">АРКТИКА.</div>

        <div class="line">
            Уехать<span class="comma" id="comma-left">,</span> нельзя<span class="comma" id="comma-right">,</span> остаться.
        </div>

        <div class="subtitle">Вставьте запятую.<br>Ваш выбор — ваш путь.</div>
    </div>

</div>
</body>
</html>
