<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/style_main.css">
    <script defer src="/static/script.js"></script>
    <title>Запятая</title>
</head>

<body>
<div class="container">

    <div class="text-block">
        <div class="line">АРКТИКА.</div>

        <div class="line">
            Уехать (<span class="comma" id="comma-left">,</span>) нельзя (<span class="comma" id="comma-right">,</span>) остаться.
        </div>

        <div class="subtitle">Вставьте запятую.<br>Ваш выбор — ваш путь.</div>
    </div>

</div>

<script>
  const body = document.body;
  const leftComma = document.getElementById('comma-left');
  const rightComma = document.getElementById('comma-right');

  const defaultBg = "#322C55";     // стартовый фон
  const leftBg = "#2C2729";        // фон при наведении на левую запятую
  const rightBg = "#9CF4EE";       // фон при наведении на правую запятую

  // ЛЕВАЯ
  leftComma.addEventListener("mouseenter", () => {
    body.style.background = leftBg;
  });

  leftComma.addEventListener("mouseleave", () => {
    body.style.background = defaultBg;
  });

  // ПРАВАЯ
  rightComma.addEventListener("mouseenter", () => {
    body.style.background = rightBg;
  });

  rightComma.addEventListener("mouseleave", () => {
    body.style.background = defaultBg;
  });
</script>
</body>
</html>
